<% include ./partials/header %>

<h3>Details</h3>
<a class="btn btn-primary btn-sm" role="button" href="/manage/<%= rows[0].user_id %>/edit "><span class="glyphicon glyphicon-usd"></span> Edit Profile</a>
<ul> 
    <li>User Name: <%= rows[0].user_name%></li>
    <li>First Name: <%= rows[0].first_name %></li>
    <li>Last Name: <%= rows[0].last_name %></li>
    <li>Wallet Balance: <%= rows[0].balance %><br /><a class="btn btn-primary btn-sm" role="button" href="/wallet"><span class="glyphicon glyphicon-usd"></span> Add Funds to Wallet</a></li>
</ul>

<% if(txns.length > 0){ %>
    <h3 id="txns">You Won!</h3>
    <p>Complete your purchase(s)</p>
    <table>
    <% for (var i = 0; i < txns.length; i++){ %>
        <tr>
            <td><img src="<%= txns[i].avatar %>" class='leftImage'></td>
            <td>
                <ul>
                    <li><%= txns[i].soul_name %></li> 
                    <li>Ranking: <%= txns[i].soul_score %></li>
                    <li><%= txns[i].description %></li>
                    <li>Winning Bid: <%= txns[i].curr_bid %></li>
                </ul>
            </td>
            <td><% if(txns[i].curr_bid > rows[0].balance){ %>
                &nbsp;<a class="btn btn-primary btn-sm" role="button" href="/wallet"><span class="glyphicon glyphicon-usd"></span>Add Funds</a>
                <% } else { %>
                &nbsp;<a class="btn btn-primary btn-sm" role="button" href="/pay/<%=txns[i].listing_id%>"><span class="glyphicon glyphicon-usd"></span>Pay Now</a>
                <% } %>
            </td>
        </tr>
    <%}%>
</table>
<% }%>



<% if(lst.length > 0) {%>
    <h3 id="activeListings">Active Listings</h3>
    <table>
    <% for (var i = 0; i < lst.length; i++){ %>
        <tr>
            <td>
                <% if(lst[i].avatar){ %>
                    <img src="<%= lst[i].avatar %>" class='leftImage'>
                <% } %>
            </td>
            <td>
                <ul>
                    <li><%= lst[i].soul_name %></li> 
                    <li>Ranking: <%= lst[i].soul_score %></li>
                    <li><%= lst[i].description %></li>
                    <% if(lst[i].curr_bid){ %>
                        <li>High Bid: <%= lst[i].curr_bid %></li>
                    <% } %>
                    <% if(lst[i].endUTX < Date.now() - 259200) { %>
                     <li>
                         This listing is past due <a class="btn btn-primary" href="/revoke/<%=lst[i].listing_id%>" ><span class="glyphicon glyphicon-remove"></span> Revoke</a>
                 </li>
                     <% } %>
                </ul>
            </td>
        </tr>
    <% } %>  
    </table>
<% } %>


<h3 id="manageSoulsHeader">Collected Souls</h3>
<div class="manageSouls">
    <table>
    <% for(var i = 0; i < rows.length; i++){ %>
        <tr>
            <td><img src="<%= rows[i].avatar %>" class='leftImage'></td>
            <td>
                <ul>
                    <li><%= rows[i].soul_name %></li> 
                    <% if(rows[i].owner_id == rows[i].originator_id && rows[i].soul_score == 0) { %>
                        <li><a href="/rank/<%=rows[i].soul_id%>">Set Soul Ranking</a></li>
                    <% } else { %>
                        <li>Ranking: <%= rows[i].soul_score %></li>
                    <% } %>
                </ul>
                <a class="btn btn-primary" role="button" href="/assets/img/soulCertificate.png" download=" <%= rows[i].soul_id %>.png ">
                <span class="glyphicon glyphicon-download-alt"></span> Certificate of Ownership</a>
                
             <% if(rows[i].soul_score > 0 ) { %>


                <% if(!rows[i].listing_id) { %>

                        <a class="btn btn-primary" href="/index/<%= rows[i].soul_id %>/new" ><span class="glyphicon glyphicon-tag"></span> List Soul</a>

                    <% } else { %>

                    <a class="btn btn-primary" href="/index/<%= rows[i].soul_id %>/edit" ><span class="glyphicon glyphicon-tag"></span> Edit Listing</a>
                
                    <% } %>
            <% } %>
            </td>
        </tr>
    <% } %>
    </table>
</div>



<% include ./partials/footer %>
