<% include ./partials/header %>
<h3>Create New Listing</h3>
<br>
<div class="container">
       <div class="soulListing">
              <div class="circleAvatar">
                     <img src=<%= data[0].avatar %> class="avatar" />
                     <br>
              </div>
              <div class="formGroup">
                     <br>
                     <form action="/index" method="POST">
                            <label for="soul_name">Soul Name:</label>
                            <input type="text" id="soul_name" name="soul_name" value="<%= data[0].soul_name %> " readonly>
                            <br>
                            
                            <label for="owner_name">Owner Name:</label>
                            <input type="text" id="owner_name" name="owner_name" value="<%= data[0].first_name %> <%= data[0].last_name %>" readonly>
                            <br>
                     
                            <label for="auction_start">Start Date (required)</label>
                            <input type="date" id="start_date"
                                   name="start_date" required>
                     
                            <label for="appt">Start Time (required)</label>
                            <input type="time" id="start_time" name="start_time" value="00:00" required>
                            <br />
                            <label for="auction_start">End Date (required)</label>
                            <input type="date" id="end_date"
                                   name="end_date" required>
                     
                            <label for="appt">End Time (required)</label>
                            <input type="time" id="end_time" name="end_time" value="00:00" required>
                            <br>

                            <label for="min_bid">Min. Bid (required)</label>
                            <input type="number" id="min_bid: $" name="min_bid" value="1" min="" required>

                            <label for="description">Add a Description (optional)</label>
                            <input type="text" id="description" name="description" value="" placeholder="Add an optional description for this lowly soul...">

                            <!-- HIDDEN DATA -->
                            <input type="hidden" name="soul_id" value="<%= data[0].soul_id %> ">
                            <input type="hidden" name="owner_id" value="<%= data[0].owner_id %> ">

                            <div id="formButtons">
                                   <button id="submitButton" name="submit" class="btn btn-large btn-primary">Submit</button>
                                   <a id="cancelButton" href="/manage" class="btn btn-large btn-primary" >Cancel</a>
                            </div>
                            
                            
                     </form>
                     
                     
              </div>
       </div>
</div>

<!-- <script>
       var regex = /^[1-9]\d*(((,\d{3}){1})?(\.\d{0,2})?)$/;
       var numStr = "123.20";
       if (regex.test(numStr))
       alert("Number is valid");
</script> -->




<% include ./partials/footer %>